html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 11px; }
  body section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    body section::after {
      clear: both;
      content: "";
      display: block; }
    body section .first-row .selectBox label {
      display: block; }
    @media screen and (min-width: 12.5em) {
      body section .first-row .selectBox {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .first-row .selectBox:last-child {
          margin-right: 0; }
        body section .first-row .selectBox .label {
          display: block; }
        body section .first-row .selectBox input {
          width: 100%; }
        body section .first-row .selectBox select {
          width: 100%; } }
    @media screen and (min-width: 23.75em) {
      body section .first-row .selectBox {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .first-row .selectBox:last-child {
          margin-right: 0; }
        body section .first-row .selectBox .label {
          display: block; }
        body section .first-row .selectBox input {
          width: 100%; }
        body section .first-row .selectBox select {
          width: 100%; } }
    @media screen and (min-width: 43.75em) {
      body section .first-row .selectBox {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%; }
        body section .first-row .selectBox:last-child {
          margin-right: 0; }
        body section .first-row .selectBox .label {
          display: block; }
        body section .first-row .selectBox input {
          width: 100%; }
        body section .first-row .selectBox select {
          width: 100%; }
        body section .first-row .selectBox button {
          width: auto; } }
    body section .first-row .button label {
      display: block; }
    @media screen and (min-width: 12.5em) {
      body section .first-row .button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .first-row .button:last-child {
          margin-right: 0; }
        body section .first-row .button .label {
          display: block; }
        body section .first-row .button input {
          width: 100%; }
        body section .first-row .button select {
          width: 100%; }
        body section .first-row .button button {
          width: 100%; } }
    @media screen and (min-width: 23.75em) {
      body section .first-row .button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .first-row .button:last-child {
          margin-right: 0; }
        body section .first-row .button .label {
          display: block; }
        body section .first-row .button input {
          width: 100%; }
        body section .first-row .button select {
          width: 100%; }
        body section .first-row .button button {
          width: 100%; } }
    @media screen and (min-width: 43.75em) {
      body section .first-row .button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        body section .first-row .button:last-child {
          margin-right: 0; }
        body section .first-row .button .label {
          display: block; }
        body section .first-row .button input {
          width: 100%; }
        body section .first-row .button select {
          width: 100%; }
        body section .first-row .button button {
          width: 100%; } }
    body section .second-row .child label {
      display: block; }
    @media screen and (min-width: 12.5em) {
      body section .second-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .second-row .child:last-child {
          margin-right: 0; }
        body section .second-row .child .label {
          display: block; }
        body section .second-row .child input {
          width: 100%; } }
    @media screen and (min-width: 23.75em) {
      body section .second-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .second-row .child:last-child {
          margin-right: 0; }
        body section .second-row .child .label {
          display: block; }
        body section .second-row .child input {
          width: 100%; } }
    @media screen and (min-width: 43.75em) {
      body section .second-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        @incude omega(4n); }
        body section .second-row .child::after {
          clear: both;
          content: "";
          display: block; }
        body section .second-row .child:last-child {
          margin-right: 0; }
        body section .second-row .child .label {
          display: block; }
        body section .second-row .child input {
          width: 100%; } }
    body section .third-row .child label {
      display: block; }
    @media screen and (min-width: 12.5em) {
      body section .third-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .third-row .child:last-child {
          margin-right: 0; }
        body section .third-row .child .label {
          display: block; }
        body section .third-row .child input {
          width: 100%; } }
    @media screen and (min-width: 23.75em) {
      body section .third-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .third-row .child:last-child {
          margin-right: 0; }
        body section .third-row .child .label {
          display: block; }
        body section .third-row .child input {
          width: 100%; } }
    @media screen and (min-width: 43.75em) {
      body section .third-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        @incude omega(2n); }
        body section .third-row .child:last-child {
          margin-right: 0; }
        body section .third-row .child .label {
          display: block; }
        body section .third-row .child input {
          width: 100%; } }
    body section .fourth-row .child label {
      display: block; }
    @media screen and (min-width: 12.5em) {
      body section .fourth-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .fourth-row .child:last-child {
          margin-right: 0; }
        body section .fourth-row .child .label {
          display: block; }
        body section .fourth-row .child input {
          width: 100%; } }
    @media screen and (min-width: 23.75em) {
      body section .fourth-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .fourth-row .child:last-child {
          margin-right: 0; }
        body section .fourth-row .child .label {
          display: block; }
        body section .fourth-row .child input {
          width: 100%; } }
    @media screen and (min-width: 43.75em) {
      body section .fourth-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        @incude omega(3n); }
        body section .fourth-row .child:last-child {
          margin-right: 0; }
        body section .fourth-row .child .label {
          display: block; }
        body section .fourth-row .child input {
          width: 100%; } }
    body section .fifth-row .child label {
      display: block; }
    @media screen and (min-width: 12.5em) {
      body section .fifth-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .fifth-row .child:last-child {
          margin-right: 0; }
        body section .fifth-row .child .label {
          display: block; }
        body section .fifth-row .child input {
          width: 100%; }
        body section .fifth-row .child select {
          width: 100%; } }
    @media screen and (min-width: 23.75em) {
      body section .fifth-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .fifth-row .child:last-child {
          margin-right: 0; }
        body section .fifth-row .child .label {
          display: block; }
        body section .fifth-row .child input {
          width: 100%; }
        body section .fifth-row .child select {
          width: 100%; } }
    @media screen and (min-width: 43.75em) {
      body section .fifth-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .fifth-row .child:last-child {
          margin-right: 0; }
        body section .fifth-row .child .label {
          display: block; }
        body section .fifth-row .child input {
          width: 100%; }
        body section .fifth-row .child select {
          width: 100%; } }
    body section .sixth-row .child label {
      display: block; }
    @media screen and (min-width: 12.5em) {
      body section .sixth-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .sixth-row .child:last-child {
          margin-right: 0; }
        body section .sixth-row .child .label {
          display: block; }
        body section .sixth-row .child input {
          width: 100%; }
        body section .sixth-row .child select {
          width: 100%; } }
    @media screen and (min-width: 23.75em) {
      body section .sixth-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .sixth-row .child:last-child {
          margin-right: 0; }
        body section .sixth-row .child .label {
          display: block; }
        body section .sixth-row .child input {
          width: 100%; }
        body section .sixth-row .child select {
          width: 100%; } }
    @media screen and (min-width: 43.75em) {
      body section .sixth-row .child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        @incude omega(1n); }
        body section .sixth-row .child:last-child {
          margin-right: 0; }
        body section .sixth-row .child .label {
          display: block; }
        body section .sixth-row .child input {
          width: 100%; }
        body section .sixth-row .child select {
          width: 100%; } }

/*# sourceMappingURL=app.css.map */
